body,td {margin:0; padding:0;font-family:Arial, Helvetica, sans-serif,"ו"; font-size:12px; color:#FFFFFF;}
.STYLE2 {color: #FFFFFF}
body{ background:url(../images/top_bg_02.gif) repeat-x}
a{ text-decoration:none; color:#FFFFFF}
a:hover{ text-decoration:underline}
.user_btn *{ float:right; line-height:23px;margin-right:10px}